/* index page css */

.banner-img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.swiper-slide .content-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 25px !important;
}

.swiper-pagination-bullet {
    background: #515151;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #fff;
    width: 25px;
    height: 10px;
    border-radius: 50px;
}

.swiper-pagination-bullet {
    margin: 0px 5px !important;
}

.carousel-text {
    position: absolute;
    color: white;
    bottom: 15%;
    left: 6%;
    /* padding-left: 85px; */
}

.event-type {
    font-size: 1.12em;
    line-height: 25px;
    color: #E28F3C;
}

.head-text {
    font-size: 2.75em;
    line-height: 48px;
    color: #FFFFFF;
    width: 60%;
}

.body-text {
    font-size: 1.12em;
    line-height: 25px;
    width: 60%;
}

.action-btn {
    padding-top: 30px;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 27px;
}

.btn-color {
    /* width: 180px;
    height: 60px; */
    background-color: #E3823F;
}

.date-text {
    width: 190px;
    height: 55px;
    background: #E38E3F;
    border-radius: 10px 0px 0px 10px;
    /* padding: 14px 40px; */
    border-left: 10px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exclusive-ced-events {
    padding: 100px 0px;
}

.body-event-head {
    font-weight: 800;
    font-size: 2.75em;
    line-height: 64px;
}

/* .upcoming-events {
    padding-top: 100px;
} */

/* card */
.card {
    border-radius: 20px !important;
    box-shadow: 0px 1px 99px rgba(0, 0, 0, 0.12);
}

.card-hover .card-body {
    transition: .4s ease-out;
    padding: 18px 16px;
}

.card-hover:hover {
    display: block;
}

.card-hover:hover .card-body {
    transform: translate(0%, -20%);
    transition: .4s ease-in;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 1px 99px rgb(0 0 0 / 12%);
    position: absolute;
    z-index: 9;
}

.exclusive-event-tag {
    position: absolute;
    width: auto;
    height: 25px;
    background-color: white;
    font-size: 0.75em;
    line-height: 16px;
    color: #E38E3F;
    right: 20px;
    top: 15px;
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    z-index: 10;
}

.upcoming-event-tag {
    position: absolute;
    width: auto;
    height: 25px;
    background-color: white;
    font-size: 0.75em;
    line-height: 16px;
    color: #194787;
    right: 20px;
    top: 15px;
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    z-index: 10;
}

.card-hover:hover .img-text {
    transition: .4s ease-in-out;
    z-index: 0;
}

.img-text {
    position: absolute;
    bottom: 8px;
    left: 10px;
    color: white;
    z-index: 1;
}

.img-text .exclusive-head-name,
.img-text .upcoming-head-name {
    font-weight: bold;
    font-size: 0.9em;
    line-height: 16px;
}

.img-text .exclusive-designation-text,
.img-text .upcoming-designation-text {
    font-size: 0.75em;
    line-height: 16px;
}

.card .img-overlay:after {
    content: "";
    position: absolute;
    width: auto;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
    left: 0;
    right: 0;
}

.date-time {
    font-size: 0.9em;
    line-height: 19px;
    color: #111215;
}

.card-title {
    color: #194787;
    font-weight: 800;
    font-size: 1.4em;
    line-height: 30px;
}

.card-text {
    font-weight: 600;
    font-size: 0.9em;
    line-height: 19px;
}

.other-attendee {
    font-size: 0.75em;
    line-height: 16px;
    color: #838793;

}

.rsvp-btn {
    display: none;
    padding-bottom: 30px;
}

.card-hover:hover .rsvp-btn {
    transition: .5s ease-in-out;
    display: block;
}

.rsvp-text {
    font-size: 0.75em;
    line-height: 16px;
    color: #838793;
}

.yes-btn .btn,
.maybe-btn .btn,
.no-btn .btn {
    width: 100%;
    height: 35px;
    border: 1px solid #838793;
    font-weight: 500;
    border-radius: 40px;
    font-size: 0.75em;
    line-height: 16px;
}

.register-btn {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 23px;
    color: #FFFFFF;
    background: #194787;
    border-radius: 0px 0px 20px 20px;
    /* padding: 18px 0px; */
}

.register-btn:hover {
    color: #FFFFFF;
}

a .card-text {
    color: #000 !important;
}

/* index page css end */

/* responsive media query */


@media (max-width: 1100px) {

    html,
    body {
        font-size: 13px;
    }

    .btn-color {
        background-color: #E3823F;
    }

    .head-text {
        line-height: 40px;
        width: 75%;
    }

    .body-text {
        line-height: 20px;
        width: 75%;
    }

    .action-btn {
        padding-top: 15px;
    }

    .date-text {
        width: 160px;
        height: 50px;
    }

    .card-title {
        line-height: 25px;
    }

    .card-text {
        line-height: 15px;
    }

    .attendee-img {
        width: 30px;
        height: 30px;
    }

    .more-attendee {
        font-size: 10px;
        width: 30px;
        height: 30px;
        padding: 8px 6px;
    }

    .card-hover:hover .card-body {
        transform: translate(0%, -15%);
    }

}

@media (max-width: 767px) {

    html,
    body {
        font-size: 12px;
    }

    .date-text {
        width: 130px;
        height: 40px;
    }

    .exclusive-ced-events {
        padding: 50px 0px;
    }

    .attendee-img {
        width: 30px;
        height: 30px;
    }

    .more-attendee {
        font-size: 10px;
        width: 30px;
        height: 30px;
        padding: 8px 6px;
    }
}

@media (max-width: 575px) {

    html,
    body {
        font-size: 11px;
    }

    .head-text {
        line-height: 34px;
        width: 90%;
    }

    .body-text {
        line-height: 15px;
        width: 90%;
    }

    .carousel-text {
        bottom: 10%;
    }

    .exclusive-ced-events {
        padding: 30px 0px;
    }

    .body-event-head {
        line-height: 35px;
    }

    .card-title {
        line-height: 20px;
    }

    .card-text {
        line-height: 14px;
    }

    .attendee-img {
        width: 30px;
        height: 30px;
    }

    .more-attendee {
        font-size: 10px;
        width: 30px;
        height: 30px;
        padding: 8px 6px;
    }
}